{% extends 'market/base.html' %}

{% block content %}
    <br>
    {{ user.first_name }} {{ user.last_name }}
    <br>
    <a href="get">VK</a>
    <br>
    <a href="logout">Выход</a>

    <br><br>
    КОРЗИНА:<br>
    {% for item in items %}
        {{ item.item.title  }}   <input type="number"> шт.
        <br>
    {% endfor %}

    <br>
    <a href="apply" class="btn-success">Подтвердить</a>

    <div class="form-section">
        <h2>Регистрация</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-success">Зарегистрироваться</button>
        </form>
    </div>
    <br>

{% endblock %}
