{% extends 'market/base.html' %}
{% block content %}
<div class="container">
      <div class="row">

          <h2>Что такое Дон Маркет?</h2>

          <p>Дон Маркет — это сервис для поиска и подбора товаров. На Маркете огромный выбор: более 100 миллионов предложений от 4 магазинов в ДНР</p>

          <p>Пользователи сервиса могут искать товары, изучать, сравнивать, смотреть обзоры.</p>
              <p>Также доступно сравнение цен — таблица у карточки товара, которая показывает цены на один
              и тот же товар в разных интернет-магазинах.</p>
                  <p>Сервис помогает найти магазин, где товар стоит дешевле,
              найти выгодные предложения разных магазинов, посмотреть там отзывы, найти ближайшие магазины и узнать о сроках доставки.
          </p>

        </div>
    </div>
</div>
{% endblock %}

