<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'market.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
  <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

  {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-default bg-light">
      <div>
        <ul class="navbar-nav" style="align-items: center">
          <li class="active" style="margin-right: 5px">
            <a href="/"><img class="img-fluid" style="max-height: 80px;" src="{% static 'Logo.png'%}"></a>
          </li>
            <li style="align-items: center">
                <form action="/search" method="get" class="form-inline my-2 my-lg-0">
                {{ search_all_form }}
                <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Поиск" />
                </form>
            </li>
          <li>
            <a class="nav-link" href="about">О нас</a>
          </li>
          <li>
            <a class="nav-link" href="feedback">Обратная связь</a>
          </li>
        </ul>
      </div>

        <div class="navbar-nav ml-auto">
            <p style="margin-bottom: 1px; text-align: center">Наш номер телефона:</p>
            <p style="text-align: center">+38 071 666 32 28</p>
        </div>
    </nav>﻿

    {% block content %} {% endblock %}

</body>
</html>