<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'market.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-default bg-light">
       <a href="#" class="navbar-brand">
                    <img src="https://pp.userapi.com/c836320/v836320161/3d126/X8GqhKmWMx8.jpg" height="50px">
                </a>
      <div>
        <ul class="navbar-nav">
          <li class="active">
            <a class="nav-link" href="#">Главная </a>
          </li>
          <li>
            <a class="nav-link" href="#">О нас</a>
          </li>
          <li>
            <a class="nav-link" href="#">Обратная связь</a>
          </li>
        </ul>

        <form action="" class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control mr-sm-2" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0">
                Найти
            </button>
        </form>
      </div>
    </nav>﻿

    {% block content %} {% endblock %}

</body>
</html>