{% extends 'market/base.html' %}
{% block content %}
<div class="container">
      <div class="row">
          <div class="row col-12">

            {% for category in categories %}

            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4" style="margin-bottom: 20px;">
                <div class="f_p_item">
                    <div class="s_product_img" style="height: 200px;">
                        <a href="category/{{ category.folder }}">
                            <img class="img-fluid"
                                 style="max-height: 200px;display: block; margin: 0 auto;"
                                 src="{{ category.img.url }}">
                        </a>
                    </div>
                    <div>
                        <h2 class = "title1" style="text-align: center"><a href="category/{{ category.folder }}">{{  category.name   }}</a></h2>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}

