{% load static %}


{% for comment in comments%}
  {% if comment.reply == var %}
      {% if comment.reply != None  %}
          <div>
              <div style="margin-left: 50px">
              {{ comment.user }} : {{ comment.text }} в {{ comment.date }}
                  </div>
                <a href="reply/id={{ comment.id }}">Ответить</a><br>
          </div>
          {% else %}
          {{ comment.user }} : {{ comment.text }} в {{ comment.date }}
           <a href="reply/id={{ comment.id }}">Ответить</a><br>
      {% endif %}
      <br>

      {% include "market/comments.html" with var=comment %}
  {% endif %}
{% endfor %}



