{% extends 'market/base.html' %}
{#TODO ТАБ характеристик + корзина #}

{% block head %}
    {% load static %}

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" media="all" />

    <!-- XZOOM JQUERY PLUGIN  -->
    <script type="text/javascript" src="{% static 'js/xzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/magnific-popup.js' %}"></script>



    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <!-- xzoom plugin here -->
  <script type="text/javascript" src="{% static 'dist/xzoom.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" />
  <!-- hammer plugin here -->
  <script type="text/javascript" src="{% static 'hammer.js/1.0.5/jquery.hammer.min.js' %}"></script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'fancybox/source/jquery.fancybox.css' %}" />
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'magnific-popup/css/magnific-popup.css' %}" />
  <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.js' %}"></script>
  <script type="text/javascript" src="{% static 'magnific-popup/js/magnific-popup.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">


    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="large-5 column">
        <div class="xzoom-container">
          <div class="xzoom-thumbs">

              {% for image in images%}

                  {% if forloop.first %}
                    <img class="xzoom5" id="xzoom-magnific" src="{{ image.file.url }}" />
                  {% endif %}

            <a href="{{ image.file.url }}">
                <img class="xzoom-gallery5" width="80" src="{{ image.file.url }}">
            </a>

              {% endfor %}
          </div>
        </div>
      </div>
    </div>

           <div class="row col-sm-12 col-md-5 col-lg-6 col-xl-7">
            <button class="btn btn-outline-info" style="width: 100px; height: 100px;" id="add_cart">В корзину</button>
          </div>
      <div class="row col-sm-1 col-md-6 col-lg-5 col-xl-4" style="margin-left: 50px">
          {{ item.text }}
          <br>ПОДРОБНОСТИ:<br>
          {% for filter in filterName %}
              {{ filter.name }}
          {% endfor %}

          {% for detail in item_detail %}
              {% if not detail.value  %}
                {{ detail.attr.name  }}
                  {% else %}
                  {{ detail.value }}
              {% endif %}
          {% endfor %}
      </div>

      <div class="row col-sm-12 col-md-5 col-lg-6 col-xl-7">
          <div class="form-group">
              <label for="usr">Name:</label>
              <div class="col-md-12">

                  <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}

                      <div class="form-group">
                        <textarea class="form-control" name="message" id="message" rows="3" placeholder="Отзыв"></textarea>
                      </div>
                  <button type="submit" class="btn btn-outline-info" style="width: 100px; height: 100px;" id="add_review">Оставить отзыв</button>

                  </form>

                </div>
          </div>

          <br>

          {% include 'market/comments.html' %}
      </div>



      </div>
    </div>

  <script>
        $("#add_cart").click(function () {
          $.ajax({
              url:"add",
              method:"GET"
          })
        });


        $("#add_review").click(function () {
          text23 = $('#message').val();

          $.ajax({
              url: "add_review",
              //method:"GET",
              type: "post",
              data: {text: 'TestPass'}
          })
        });

        $(".xzoom, .xzoom-gallery").xzoom({tint: '#333', Xoffset: 15});

  </script>

    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/setup.js' %}"></script>

{% endblock %}

