{% extends 'market/base.html' %}
{#TODO ТАБ характеристик + корзина #}


{% block head %}
    {% load static %}

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" media="all" />

    <!-- XZOOM JQUERY PLUGIN  -->
    <script type="text/javascript" src="{% static 'js/xzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/magnific-popup.js' %}"></script>



    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <!-- xzoom plugin here -->
  <script type="text/javascript" src="{% static 'dist/xzoom.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" />
  <!-- hammer plugin here -->
  <script type="text/javascript" src="{% static 'hammer.js/1.0.5/jquery.hammer.min.js' %}"></script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'fancybox/source/jquery.fancybox.css' %}" />
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'magnific-popup/css/magnific-popup.css' %}" />
  <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.js' %}"></script>
  <script type="text/javascript" src="{% static 'magnific-popup/js/magnific-popup.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="container">
    <h1 style="align-content: center">{{ item.title }}</h1>
      <div class="row">
        <div class="xzoom-container col-sm7 col-md-7 col-lg-7 col-xl-7">
          <div class="xzoom-thumbs">

              {% for image in images%}
                  {% if forloop.first %}
                        <img class="xzoom5" id="xzoom-magnific"
                             src="{{ image.file.url }}"/><br>
                      <table width="400px"><tr>
                  {% endif %}

                  {% if forloop.counter0|divisibleby:3 %}
                      </tr><tr>
                  {% endif %}

                    <td><a href="{{ image.file.url }}">
                        <img class="xzoom-gallery5"
                             src="{{ image.file.url }}">
                    </a></td>
              {% endfor %}
                  </tr>
                  </table>
        </div>
    </div>
      <div class="col-sm5 col-md-5 col-lg-5 col-xl-5 ">
          <iframe id="ytplayer" type="text/html" class="raw"
            src="https://www.youtube.com/embed/?listType=search&list={{ item.title }}"
            frameborder="0" allowfullscreen style="width: 444px; height:250px">
          </iframe>

          {% if storeItems|length > 1 %}
                <div class="row">
                      <table style="width: 200px" class="table">
                          <tr>
                            <th>Магазин</th>
                            <th>Цена</th>
                          </tr>
                            {% for storeItem in storeItems %}
                              <tr>
                                <th><a href={{ storeItem.url }}>{{ storeItem.store.name }}</a></th>
                                <th><a href={{ storeItem.url  }}>{{ storeItem.price }}</a></th>
                              </tr>
                            {% endfor %}
                          </tr>
                      </table>
                  </div>
            {% endif %}
      </div>

{#           <div class="row col-sm-12 col-md-5 col-lg-6 col-xl-7">#}
{#            <button class="btn btn-outline-info" style="width: 100px; height: 100px;" id="add_cart">Сравнить</button>#}
{#          </div>#}
      <div class="row">
          <br>ПОДРОБНОСТИ:
            <table class="table">
              {% for group in groups %}
                  <thead class="thead-light">
                        <tr>
                          <th><strong>{{ group.title }}</strong></th>
                          <th></th>
                        </tr>
                    </thead>
                {% for detail in attrs %}
                    {% if detail.attr.attributeTitle.bigTitle == group %}
                        <tbody>
                        <tr><th>{{ detail.attr.attributeTitle.attr }}</th>
                            <td>{{ detail.attr.value}}</td>
                        </tr>
                        </tbody>
                        {% else %}
                        {% endif %}
                {% endfor %}
              {% endfor %}
            </table>
      </div>
      </div>


    </div>

  <script>
        $("#add_cart").click(function () {
          $.ajax({
              url:"add",
              method:"GET"
          })
        });


        $("#add_review").click(function () {
          text23 = $('#message').val();

          $.ajax({
              url: "add_review",
              //method:"GET",
              type: "post",
              data: {text: 'TestPass'}
          })
        });

        $(".xzoom, .xzoom-gallery").xzoom({tint: '#333', Xoffset: 15});


  </script>

    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script src="{% static 'js/setup.js' %}"></script>

{% endblock %}

