<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
  <title>Продукты</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-black bg-dark">
    <a href="#" class="navbar-brand">
    <img src="https://pp.userapi.com/c836320/v836320161/3d126/X8GqhKmWMx8.jpg" height="150px">
    </a>
</nav>

<div class="container">
      <div class="row">
          <div class="latest_product_inner row">

            {% for item in all_items %}

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="f_p_item">
                    <div class="f_p_img">
                        <img class="img-fluid" src="https://pp.userapi.com/c836320/v836320161/3d126/X8GqhKmWMx8.jpg" >
                        <div class="p_icon">
                            <a href="#"><i class="lnr lnr-heart"></i></a>
                            <a href="#"><i class="lnr lnr-cart"></i></a>
                        </div>
                    </div>
                    <a href="#"><h4>{{ item.title }}</h4></a>
                    <h5>{{ item.price }} руб</h5>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

</body>
</html>