{% extends 'market/base.html' %}
{% block content %}
{# TODO пофиксить размеры картинок  #}
<div class="container">
      <div class="row">



{#                <div class="left_dorp">#}
{#                    <select class="sorting">#}
{#                        <option value="1">Сортировка по рейтингу</option>#}
{#                        <option value="2">Сортировка по цене (возрастанию)</option>#}
{#                        <option value="4">Сортировка по цене (убывание)</option>#}
{#                    </select>#}
{#                    <select class="show">#}
{#                        <option value="1">Показать по  15</option>#}
{#                        <option value="2">Показать по 30</option>#}
{#                        <option value="4">Показать по 60</option>#}
{#                    </select>#}
{#                </div>#}
{#                <div class="right_page ml-auto">#}
{#                    <nav class="cat_page" aria-label="Page navigation example">#}
{#                        <ul class="pagination">#}
{#                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>#}
{#                            <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                            <li class="page-item blank"><a class="page-link" href="#">...</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#">6</a></li>#}
{#                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>#}
{#                        </ul>#}
{#                    </nav>#}
{#                </div>#}

          <div class="row col-9">

            {% if all_items|length == 0 %}
                <h1>Нет результатов поиска</h1>
            {% endif %}


            {% for item in all_items %}

            <div class="col-4" style="margin-bottom: 20px;">
                <div class="f_p_item">
                    <div class="f_p_img">
                         {% for img in all_images %}
                             {% if img.item.id == item.id and img.position == 0  %}
                                 <a href="/{{ item.slug }}/{{ item.id }}/"><img class="img-fluid" style="max-height: 200px; display: block; margin: 0 auto;" src="{{ img.file.url }}"></a>
                             {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        <h2 class = "title1" style="text-align: center"><a href="/{{ item.slug }}/{{ item.id }}/">{{  item.title   }}</a></h2>
                        <h2 class = "title1" style="text-align: center">{{ item.priceRozetka}} руб</h2>
                    </div>
{#                    <h5 style="margin-bottom: 20px;text-align: center">{{ item.price }} руб</h5>#}
{##}
{#                    {% if item.oldPrice != None %}#}
{#                        <h6 style="margin-bottom: 20px;text-align: center"><strike>{{ item.oldPrice }} руб</strike></h6>#}
{#                    {% endif %}#}
                </div>
            </div>

            {% endfor %}
        </div>
      <form action="search" class="col-3" method="get" style="position:fixed; right:0; overflow: auto; height: 85%">
                    {{ searchForm }} <br>
                    <strong>Цена:</strong><br>
                    <input type="number" placeholder="Мин:" name="minPrice" value="{{minPrice }}">
                    <input type="number" placeholder="Макс:" name="maxPrice" value="{{ maxPrice }}"><br>
                    {% for filterTitle in filterTitles %}
                        <strong>{{filterTitle}}</strong><br>

                        {% for filterValue in filterValues %}
                            {% if filterValue.attributeTitle == filterTitle %}
                                <input type="checkbox" id="{{ filterValue.id }}" name="filterValue" value={{ filterValue.id }}
                                       {% if filterValue.id in beforeFilterValues %}
                                           checked
                                       {% endif %}
                                >
                                <label for="{{ filterValue}}">{{ filterValue }}</label><br>
                            {% endif %}
                        {% endfor %}

                    {% endfor  %}
                    <strong>Производители:</strong><br>
                    {% for brand in brands %}
                        <input type="checkbox" id="{{ brand.name }}" name="brand" value={{ brand.name }}
                        {% if brand.name in beforeBrands %}
                            checked
                        {% endif %}
                        >
                        <label for="{{ brand.name }}">{{ brand.name }}</label><br>
                    {% endfor %}
                    <input type="submit" value="Поиск" class="btn btn-outline-success my-2 my-sm-0" />
                </form>
    </div>
</div>
{% endblock %}